<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.myhostmx.rua" version="1.0.0">
<name>RUA</name>

<description>
RUA
</description>
<author href="http://www.myhostmx.com" email="maitret@myhostmx.com">
RUA
</author>

<!-- content src="index.html"/ -->
<!--
<preference name="phonegap-version" value="cli-5.2.0" />
<preference name="phonegap-version" value="cli-6.1.0" />
<preference name="phonegap-version" value="cli-6.3.0" />
<preference name="phonegap-version" value="cli-5.2.0" />
<preference name="phonegap-version" value="cli-6.0.0" /> -->

<preference name="DisallowOverscroll" value="true"/>
<preference name="android-minSdkVersion" value="14"/>
<preference name="permissions"                value="none"/>
<preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
<preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
<preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
<preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
<preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
<preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
<preference name="detect-data-types"          value="false" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
<preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
<preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
<preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
<preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
<preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
<preference name="CameraUsesGeolocation" value="true" />
<preference name="android-build-tool" value="gradle" />
<preference name="SplashScreenDelay" value="100" />
<preference name="AllowInlineMediaPlayback" value="true"/>
<preference name="MediaPlaybackRequiresUserAction" value="false"/>

<plugin name="cordova-plugin-battery-status" />
<plugin name="cordova-plugin-camera" />
<plugin name="cordova-plugin-media-capture" />
<plugin name="cordova-plugin-console" />
<plugin name="cordova-plugin-contacts" />
<plugin name="cordova-plugin-device" />
<plugin name="cordova-plugin-device-motion" />
<plugin name="cordova-plugin-device-orientation" />
<plugin name="cordova-plugin-dialogs" />
<plugin name="cordova-plugin-file" />
<plugin name="cordova-plugin-file-transfer" />
<plugin name="cordova-plugin-geolocation" />
<plugin name="cordova-plugin-globalization" />
<plugin name="cordova-plugin-inappbrowser" />
<plugin name="cordova-plugin-media" />
<plugin name="cordova-plugin-network-information" />
<plugin name="cordova-plugin-splashscreen" />
<plugin name="cordova-plugin-vibration" />
<plugin name="cordova-plugin-statusbar"/>
<plugin name="cordova-plugin-vibration"/>

<gap:plugin name="cordova-plugin-customurlscheme" source="npm">
<param name="URL_SCHEME" value="appmedica-ivc" />
</gap:plugin>

<plugin name="phonegap-plugin-push" source="npm">
<param name="SENDER_ID" value="538104026830" />
</plugin>

<!---<plugin name="com.phonegap.plugins.barcodescanner" />-->
<gap:plugin name="phonegap-plugin-barcodescanner" source="npm" />

<gap:plugin name="cordova-plugin-flashlight" source="npm" />
<!-- <plugin name="cordova-plugin-health" source="npm" />
<plugin spec="https://github.com/Litekey/heartbeat-cordova-plugin.git" source="git" /> -->

<gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
<gap:plugin name="cordova-plugin-background-app" source="npm" />
<gap:plugin name="cordova-plugin-datepicker" source="npm" />

<!--
<gap:plugin name="de.appplant.cordova.plugin.background-mode" /> -->
<!--<plugin name="hazems-cordova-plugin-sms" source="npm" />-->

<!--
<gap:plugin name="cordova-plugin-googlemaps" source="npm">
<param name="API_KEY_FOR_ANDROID" value="AIzaSyCXFNRlaxHSxI8Gqk0iaII5YDTTLwGejSM" />
<param name="API_KEY_FOR_IOS" value="AIzaSyA0tumqw8e4mmN5_7VH0GCxHtUtSiAZKbI" />
</gap:plugin> -->

<icon gap:platform="ios" src="res/icons/ios/icon-small.png" width="29" height="29" />
<icon gap:platform="ios" src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
<icon gap:platform="ios" src="res/icons/ios/icon-40.png" width="40" height="40" />
<icon gap:platform="ios" src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
<icon gap:platform="ios" src="res/icons/ios/icon-50.png" width="50" height="50" />
<icon gap:platform="ios" src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
<icon gap:platform="ios" src="res/icons/ios/icon.png" width="57" height="57" />
<icon gap:platform="ios" src="res/icons/ios/icon-2x.png" width="114" height="114" />
<icon gap:platform="ios" src="res/icons/ios/icon-60.png" width="60" height="60" />
<icon gap:platform="ios" src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
<icon gap:platform="ios" src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
<icon gap:platform="ios" src="res/icons/ios/icon-72.png" width="72" height="72" />
<icon gap:platform="ios" src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
<icon gap:platform="ios" src="res/icons/ios/icon-76.png" width="76" height="76" />
<icon gap:platform="ios" src="res/icons/ios/icon-76-2x.png" width="152" height="152" />
<gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
<gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
<gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
<gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
<gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
<gap:splash gap:platform="ios" src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024" />
<gap:splash gap:platform="ios" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />

<icon src="icon.png" />

<platform name="webos">
</platform>
<platform name="symbian.wrt">
</platform>
<platform name="blackberry" project="widgets">
</platform>
<platform name="wp8">
<icon src="res/icons/ios/icon-50-2x.png" platform="wp8" width="100" height="100" />
<splash ssrc="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024"  platform="wp8" />
</platform>
<!--
<platform name="windows">
</platform>
<icon src="www/res/icon/wp8/ApplicationIcon.png" platform="wp8" width="99" height="99"/>
<splash src="www/res/screen/wp8/screen-portrait.jpg" platform="wp8" width="768" height="1280"/>
<icon src="www/res/icon/windows/StoreLogo.scale-100.png" platform="windows" width="50" height="50"/>
<splash src="www/res/screen/windows/SplashScreen.scale-100.png" platform="windows" width="620" height="300"/>
-->

<gap:config-file platform="ios" parent="CFBundleShortVersionString">
<string>100</string>
</gap:config-file>

<!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
<access origin="*"/>
<plugin name="cordova-plugin-whitelist" />
<allow-navigation href="*" />
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />
<allow-intent href="tel:*" />
<allow-intent href="sms:*" />
<allow-intent href="mailto:*" />
<allow-intent href="geo:*" />

<platform name="android">
<allow-intent href="market:*" />
</platform>
<platform name="ios">
<allow-intent href="itms:*" />
<allow-intent href="itms-apps:*" />
</platform>

</widget>